:root {
  --gray-800: #555;
  --gray-150: #f0f1f3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray-800: rgba(255, 255, 255, 0.8);
    --gray-150: rgba(255, 255, 255, 0.15);
  }
}

[data-tooltip] {
  $triangle: .4rem;
  $background-color: rgba(51, 51, 51, .9);

  cursor: pointer;
  display: inline-block;
  line-height: 1;
  position: relative;
  border-bottom: 1px dashed var(--body-font-color);


  &::after {
    background-color: $background-color;
    border-radius: $triangle;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.15rem;
    opacity: 0;
    padding: .25rem .5rem;
    position: absolute;
    text-align: center;
    text-transform: none;
    transition: opacity .2s;
    visibility: hidden;
    width: max-content;
    max-width: 300%;
    z-index: 1;
  }

  // arrows
  &::before {
    border-style: solid;
    border-width: $triangle;
    content: "";
    opacity: 0;
    position: absolute;
    transition: opacity .2s;
    visibility: hidden;
    border-color: $background-color transparent transparent transparent;
    bottom: 75%;
    left: 50%;
    margin-left: -$triangle;
  }

  &::after {
    bottom: 150%;
    left: 50%;
    transform: translate(-50%);
  }

  &.active::after,
  &.tooltip.active::before,
  &:hover::after,
  &.tooltip:hover::before {
    visibility: visible;
    opacity: 1;
  }
}

h1 {
  font-weight: 700;
  font-size: 2.6em;
}

.page-navigation {
  height: 3em;
  line-height: 1.5;
}

.page-navigation a {
  max-width: 80%;
  font-size: 1rem;
  display: inline-block;
}

.book-menu a {
  line-height: 1.7;
}

.markdown {
  line-height: 2.2;

  h2 {
    font-weight: 700;
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 600;
  }

  h4 {
    font-size: 1.2em;
    font-weight: 400;
  }

  .emphasis {
    width: 75%;
    margin: 10px auto;
    font-weight: 600;
    font-size: large;
    position: relative;
  }

  figcaption h4 {
    font-size: small;
    font-weight: bolder;
  }

  .footnotes {
    font-size: small;
    direction: rtl;
  }

  .deck-wrapper {
    padding-top: 56.25%;
    position: relative;
    height: 0;
  }
  
  .deck-wrapper > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }


  i.note {
    color: var(--gray-500);
  }

  .title-en {
    font-weight: 200;
    font-size: 1.5em;
  }

  .subtitle {
    font-size: larger;
  }

  .alt-names {
    display: flex;
    flex-flow: row wrap;
  }

  .alt-name {
    background-color: var(--gray-150);
    padding: 0 0.5em;
    margin: 0.1em 0.25em;
    font-size: smaller;
    border-radius: 0.5em;
  }

  .dimension {
    display: flex;
    flex-flow: row nowrap;
    align-items: top;
    margin-top: 2em;
  }

  .dimension figure {
    flex: 0 0 5em;
    margin: 0 0 0 2em;
  }

  .dimension p {
    margin-block: 0;
  }

  .dimension h4 {
    margin-block: 0.5em;
    font-weight: 600;
    font-size: 1.2em;
  }

  .scale th {
    text-align: right;
    color: var(--gray-500);
    font-weight: 400;
  }

  .scale th:nth-child(2) {
    width: 25%;
  }

  .scale td {
    vertical-align: top;
  }

  .scale td:nth-child(1) {
    direction: ltr;
    text-align: center;
  }

  .scale td:nth-child(2) {
    font-weight: 600;
  }

  .scale td:nth-child(3) {
    font-size: 0.9em;
  }

  .scale p {
    margin-block-end: 0;
  }

  .scale {
    margin-bottom: 3em;
  }

  .scale-notes {
    display: block;
    margin-top: -3em;
  }

  .copied::before {
    content: 'copied';
  }
  .copied {
    background-color: var(--gray-200);
    padding: 0.5em;
    font-size: calc(8px + 0.25em);
    border-radius: 5px;
    font-weight: 400;
    display: inline-block;
    vertical-align: top; 
    opacity: 0;
    animation: hide ease-in-out 2s;   
  }

  @keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @media (max-width: 640px) {
    .book-columns>div {
      min-width: 100%; 
    }
  }
}